.page-header {
  text-align: center;
  margin-top: 10px;
}

.page-header p {
  font-size: 22px;
  width: 590px;
  margin: 16px auto;
}

.jobs-container {
  min-height: calc(100vh - 50px - 122px);
  max-width: 700px;
  margin: auto;
  margin-top: 24px;
}