.jobs_page {
  color: white;
  background-color: rgba(10,10,10,0.4);
  padding: 20px 0px;
}

.container {
	font-size: 1.4em;
}

.jobs-container {
  min-height: calc(100vh - 50px - 122px);
  max-width: 700px;
  margin: auto;
  margin-top: 24px;
}