.github {
	background-color: rgba(10,10,10,0.5);
}

.col-6 img {
	width: 60px!important;
	margin-left: 30px;
	border-radius: 30px;
}

.col-6 a {
	display: block;
	margin: 10px;
}

a {
	color: white;
}

a:hover {
	color: white;
}

.github-btn {
	background-color: #000000;
	padding: 6px;
	height: 33px;
	width: 60px;
	border-radius: 20px;

}